@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-press {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  padding: 8px 30px;
  border: 3px solid #333;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.button-press::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #333;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.button-press:hover {
  color: #fff;
}
.button-press:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.button-press:active {
  transform: translateY(2px);
  border-color: rgba(0, 0, 0, 0.1);
}

.problem-button {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #333;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s;
}
.problem-button:hover {
  background: #13c3ac;
}

.problem-button:active {
  transform: translateY(5px);
}
